@tailwind base;
@tailwind components;
@tailwind utilities;

.Layout {
  background-color: var(--backgroundBorder);
  color: var(--color);
  font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Helvetica, sans-serif;
}

.Layout-content {
  background-color: var(--background);
}

.SkipToContent {
  font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Helvetica, sans-serif;
}

.SkipToContent:focus {
  background-color: var(--color);
  color: var(--background);
}

.TextButton {
  border-bottom: 2px solid var(--linkBorder);
  box-shadow: inset 0 -0.3rem 0 var(--linkShadow);
  color: var(--color);
}
