@import 'normalize.css';
@import 'basscss-basic';
@import 'basscss';

* {
  box-sizing: border-box;
}

body {
  color: var(--black);
  font-family: var(--font-family);
  font-size: var(--font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-link {
  display: inline-block;
}

p a,
.btn-link {
  box-shadow: inset 0 -2px 0 #ccc;
}

p a:hover,
.btn-link:hover {
  box-shadow: inset 0 -2px 0 #8aba56;
}

p,
pre {
  margin-bottom: 2rem;
}

pre {
  background: #fff;
  border: 1px solid var(--gray-lighter);
  overflow: auto;
}

pre code {
  border: none;
  display: block;
  padding: 1rem;
}

code {
  background: #fff;
  border: 1px solid var(--gray-lighter);
  font-size: 1rem;
  padding: .1875rem .4375rem;
}

.athelas {
  font-family: 'Athelas', serif;
  line-height: 1.25;
}

.h0 {
  font-size: 1.25rem;
}

@media (min-width: 32rem) {
  .h0 { font-size: 2rem; }
}

@media (min-width: 48rem) {
  .h0 { font-size: 3.25rem; }
}

@media(max-width: 32rem) {
  .sm-hide { display: none; }
}

:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  --font-size: 1.125rem;
  --gray-lighter: #eee;
  --black: #111111;
}
