@import 'normalize.css';
@import 'basscss-basic';
@import 'basscss';

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  box-shadow: inset 0 -2px 0 #ccc;
}

p a:hover {
  box-shadow: inset 0 -2px 0 #8aba56;
}

p,
pre {
  margin-bottom: 2rem;
}

.h0 { font-size: 1.25rem; }

@media (min-width: 32rem) {
  .h0 { font-size: 1.5rem; }
}

@media (min-width: 48rem) {
  .h0 { font-size: 2rem; }
}

pre {
  background: #fff;
  border: 1px solid var(--gray-lighter);
  overflow: auto;
  padding: 1rem;
}

pre code {
  border: none;
  padding: 0;
}

code {
  background: #fff;
  border: 1px solid var(--gray-lighter);
  font-size: 1rem;
  padding: .1875rem .4375rem;
}

:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  --font-size: 1.125rem;
  --gray-lighter: #eee;
}
