// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////
$small-only:    new-breakpoint(max-width em(699) 12);
$medium:        new-breakpoint(min-width em(700) 12);
$medium-only:   new-breakpoint(min-width em(700) max-width em(849) 12);
$large:         new-breakpoint(min-width em(850) 12);
