/**** Lists ****/
dl {
  margin-bottom: $base-line-height;
}

dt,
dd {
  line-height: $base-line-height;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: $base-line-height / 2;
}

.dl-horizontal {
  dt {
    clear: left;
    float: left;
    text-align: right;
    width: 120px;
    @include text-overflow();
  }

  dd {
    margin-left: 130px;
  }
}

%list-horizontal {
  margin: 0;

  > li {
    display: inline-block;
  }
}

%list-unstyled {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
  }
}

.list-bars {
  @extend %list-unstyled;
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 2em;

  > li {
    display: block;
    border-top: 1px solid $gray-lighter;

    > a {
      display: block;
      padding: 0.5em 1.65em 0.5em 0.5em;
      position: relative;

      &:after {
        content: ' \203A';
        font-size: 1.25em;
        line-height: 1;
        margin-top: -0.6em;
        position: absolute;
        right: 0.5em;
        top: 50%;
      }
    }
  }
}
