ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: $base-line-height / 2;
    padding-left: $base-line-height;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $base-line-height / 2;
    padding-left: $base-line-height;
  }
}

dl {
  line-height: $base-line-height;
  margin-bottom: $base-line-height / 2;

  dt {
    font-weight: bold;
    margin-top: $base-line-height / 2;
  }

  dd {
    margin: 0;
  }
}


.list-bars {
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 2em;

  > li {
    display: block;
    border-top: 1px solid $gray-lighter;

    > a {
      display: block;
      padding: 0.5em 1.65em 0.5em 0.5em;
      position: relative;

      &:after {
        content: ' \203A';
        font-size: 1.25em;
        line-height: 1;
        margin-top: -0.6em;
        position: absolute;
        right: 0.5em;
        top: 50%;
      }
    }
  }
}
