body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;

  @include media($medium) {
    font-size: em(22);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  line-height: 1.25em;
  margin: 0 0 0.75em 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  font-size: $base-font-size * 1.6875; // 16 * 1.6875 = 27px
  font-weight: 600;
  margin-bottom: 0.15em;

  @include media($medium) {
    font-size: $base-font-size * 1.863; // 22 * 1.863 = 41px
  }
}

h2 {
  font-size: $base-font-size * 1.5; // 16 * 1.5 = 24px

  @include media($medium) {
    font-size: $base-font-size * 1.4545; // 22 * 1.4545 = 32px
  }
}

h3 {
  font-size: $base-font-size * 1.1875; // 16 * 1.1875 = 19px

  @include media($medium) {
    font-size: $base-font-size * 1.1818; // 22 * 1.1818 = 26px
  }
}

h4 {
  font-size: $base-font-size * 1.875; // 16 * 1.875 = 19px
  text-transform: uppercase;

  @include media($medium) {
    font-size: $base-font-size * 1.1818; // 22 * 1.1818 = 26px
  }
}

h5,
h6 {
  font-size: $base-font-size;
}

p,
pre {
  margin: 0 0 2em 0;
}

a {
  color: $base-link-color;
  text-decoration: none;
  @include transition(opacity 0.2s ease-in-out);

  &:hover {
    color: $hover-link-color;
    opacity: 0.5;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

hgroup {
  margin-bottom: $base-line-height / 2;
}

del {
  color: lighten($base-font-color, 15);
}

blockquote {
  border-left: 6px solid $green;
  font-style: italic;
  margin: 2em 0;
  padding-left: 1em;

  p {
    color: $gray-darker;
  }

  p:last-of-type {
    margin-bottom: 0.75em;
  }
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

small {
  font-size: 0.7em;
}

pre {
  background: $gray-lighter;
  overflow: auto;
  padding: em(10, 22);

  code {
    padding: 0;
  }
}

code {
  background: $gray-lighter;
  font-size: em(18, 22);
  padding: em(3, 18) em(7, 18);
}

@include selection {
  background: transparentize($green, 0.5);
  color: $gray-darker;
}
