// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: 'skolar', $georgia;

$base-font-family: $serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

//**** Grays ****
$black:                 #000;
$gray-darker:           #222;
$gray-dark:             #333;
$gray:                  #555;
$gray-light:            #999;
$gray-lighter:          #eee;
$white:                 #fff;


//**** Colors ****
$blue:            #477DCA;
$red-light:       #FBE3E4;
$yellow-light:    #FFF6BF;
$green-light:     #E6EFC2;
$green:           #8aba56;


// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $gray;
$base-accent-color: $green;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $gray-light;

// Flash Colors
$error-color: $red-light;
$notice-color: $yellow-light;
$success-color: $green-light;

// Transition Duration
$transition-duration: 0.2s;
