.TextButton {
  border-bottom: 2px solid var(--linkBorder);
  box-shadow: inset 0 -0-3rem 0 var(--linkShadow);
  color: var(--color);
  text-decoration: none;
  transition-duration: 160ms;
  transition-property: box-shadow;
  transition-timing-function: ease;
}

.TextButton:hover {
  box-shadow: inset 0 -1.3em 0 var(--linkShadow);
}
